.base-foto { 
    float: right;  
    margin-right: -80px;    
    margin-top: -400px;

    @media #{$break-tablet} {
        margin-right: 0;
        margin-top: -408px;
    }

    @media #{$break-tel} {
        margin-top: -516px;
    }
}