.btn {
    padding: 13px 40px 12px;
    display: inline-block;

    border: 1px solid #f82370;

    text-align: center;
    color: #f53f4f;
    background-color: transparent;

    
    &:hover {
        cursor: pointer;
    }
}

.btn_orange {
    display: block;
    padding: 20px 0 18px;
    width: 270px;
    max-width: 100%;

    font-size: 18px;
    color: $colorFont;
    background-color:$colorBase;
    border: none;

    @media #{$break-tablet} {
        padding: 24px 24px 22px;
        width: 320px;
    }

    @media #{$break-tel} {
        width: 280px;
        padding: 18px 0;        

        font-size: 16px;
    }
}