.copy {
    padding: 30px 0 32px;

    background-color: #31293c;
    color: $colorFont;
    text-align: center;

    @media #{$break-tel} {
        padding: 18px 0;
    }
}

.copy__p {
    margin: 0 0 0 -6px;

    @media #{$break-tel} {
        margin: 0;

        font-size: 12px;
        letter-spacing: 0.1px;
    }    
}