.fly-elements {    
    font-weight: 700;
}

.fly-elements__element {
    position: absolute;
    display: inline-block;    
}

.fly-elements_header-base {
    color: $colorBase;

    .fly-elements__element_0 {
        font-size: 48px;
        animation: fly00 3s forwards;
        
        @keyframes fly00 {
            from {
                @include flyNullHeader;
            }
            to {
                @include fly(341px, -165px, 27deg);
            }
        }           

        @media #{$break-tablet} {            
            font-size: 49px;
            animation: fly00 3s forwards;
        
            @keyframes fly00 {
                from {
                    @include flyNullHeader;
                }
                to {
                    @include fly(327px, 78px, 27deg);
                }
            }           
        }

        @media #{$break-tel} {
            font-size: 25px;
            animation: fly00 3s forwards;
        
            @keyframes fly00 {
                from {
                    @include flyNullHeader;
                }
                to {
                    @include fly(520px, 47px, 27deg);
                }
            }        
        }
    }


    .fly-elements__element_1 {
        font-size: 37px;     
        animation: fly11 3s forwards;

        @keyframes fly11 {
            from {
                bottom: -270px;
                right: 50%;
                transform: rotate(0);
            }
            to {
                bottom: -52px;
                right: 585px;
                transform: rotate(20deg);
            }
        }          

        @media #{$break-tablet} {
            font-size: 33px;
            animation: fly11 3s forwards;

            @keyframes fly11 {
                from {
                    bottom: -270px;
                    right: 50%;
                    transform: rotate(0);
                }
                to {
                    bottom: 262px;
                    right: 531px;
                    transform: rotate(17deg);
                }
            }          
        }

        @media #{$break-tel} {
            font-size: 15px;
            animation: fly11 3s forwards;

            @keyframes fly11 {
                from {
                    bottom: -270px;
                    right: 50%;
                    transform: rotate(0);
                }
                to {
                    bottom: 487px;
                    right: 40px;
                    transform: rotate(17deg);
                }
            }          
        }
    }

    .fly-elements__element_2 {
        font-size: 41px;
        animation: fly22 3s forwards;

        @keyframes fly22 {
            from {
                @include flyNullHeader;
            }
            to {
                @include fly(-184px, 81px, -22deg);
            }
        }           

        @media #{$break-tablet} {
            font-size: 40px;
            animation: fly22 3s forwards;

            @keyframes fly22 {
                from {
                    @include flyNullHeader;
                }
                to {
                    @include fly(-90px, 359px, -23deg);
                }
            }           
        }

        @media #{$break-tel} {
            font-size: 20px;
            animation: fly22 3s forwards;

            @keyframes fly22 {
                from {
                    @include flyNullHeader;
                }
                to {
                    @include fly(546px, 170px, -31deg);
                }
            }           
        }
    }

    .fly-elements__element_3 {
        font-size: 30px;
        animation: fly33 3s forwards;

        @keyframes fly33 {
            from {
                @include flyNullHeader;
            }
            to {
                @include fly(331px, 493px, -14deg);
            }
        }           

        @media #{$break-tablet} {
            font-size: 30px;
            animation: fly33 3s forwards;

            @keyframes fly33 {
                from {
                    @include flyNullHeader;
                }
                to {
                    @include fly(356px, 887px, -14deg);
                }
            }           
        }

        @media #{$break-tel} {
           display: none;
        }
    }

    .fly-elements__element_4 {
        font-size: 56px;
        animation: fly44 3s forwards;

        @keyframes fly44 {
            from {
                @include flyNullHeader;
            }
            to {
                @include fly(103px, -49px, 17deg);
            }
        }           

        @media #{$break-tablet} {
            font-size: 56px;
            animation: fly44 3s forwards;

            @keyframes fly44 {
                from {
                    @include flyNullHeader;
                }
                to {
                    @include fly(-155px, 58px, 17deg);
                }
            }           
        }

        @media #{$break-tel} {
            font-size: 27px;
            animation: fly44 3s forwards;

            @keyframes fly44 {
                from {
                    @include flyNullHeader;
                }
                to {
                    @include fly(413px, 36px, 17deg);
                }
            }           
        }
    }
}

.fly-elements_offer {
    color: $colorFont;
    
    @media #{$break-tel} {
        display: none;
    }

    .fly-elements__element_0 {
        font-size: 48px;        
        animation: fly0 3s forwards;

        @keyframes fly0 {
            from {
                @include flyNull;
            }
            to {
                @include fly(166px, -165px, 27deg);                
            }            
        }

        @media #{$break-tablet} {
            font-size: 33px;
            animation: fly0 3s forwards;

            @keyframes fly0 {
                from {
                    @include flyNull;
                }
                to {
                    @include fly(224px, 156px, 27deg);
                }            
            }
        } 
    }

    .fly-elements__element_1 {
        font-size: 37px;        
        animation: fly1 3s forwards;

        @keyframes fly1 {
            from {
                @include flyNull;
            }
            to {
                @include fly(-62px, 1128px, 20deg);
            }            
        }

        @media #{$break-tablet} {
            font-size: 25px;
            animation: fly1 3s forwards;

            @keyframes fly1 {
                from {
                    @include flyNull;
                }
                to {
                    @include fly(-50px, 512px, 20deg);
                }            
            }
        }
    }

    .fly-elements__element_2 {
        font-size: 41px;
        animation: fly2 3s forwards;

        @keyframes fly2 {
            from {
                @include flyNull;
            }
            to {
                @include fly(160px, 1361px, -22deg);
            }            
        }

        @media #{$break-tablet} {
            font-size: 40px;
            animation: fly2 3s forwards;

            @keyframes fly2 {
                from {
                    @include flyNull;
                }
                to {
                    @include fly(-49px, 873px, -23deg);
                }            
            }
        }
    }

    .fly-elements__element_3 {
        font-size: 49px;
        animation: fly3 3s forwards;

        @keyframes fly3 {
            from {
                bottom: -120px;
                right: 50%;
                transform: rotate(0);
            }
            to {
                bottom: -31px;
                right: -186px;
                transform: rotate(-18deg);
            }            
        }

        @media #{$break-tablet} {
            display: none;
        }
    }

    .fly-elements__element_4 {
        font-size: 56px;

        animation: fly4 3s forwards;

        @keyframes fly4 {
            from {
                @include flyNull;
            }
            to {
                @include fly(-32px, -49px, 17deg);
            }            
        }

        @media #{$break-tablet} {
            display: none;
        }
    }
}
