.header {
    padding: 30px 0 237px;
    
    background-image: url("../img/Ellipse-desktop.png");
    background-position: 50%;
    background-repeat: no-repeat;

    @media #{$break-tablet} {
            padding: 30px 0 229px;
    
            background-image: url("../img/Ellipse-tablet.png");
    }

    @media #{$break-tel} {
        padding: 25px 0 0;
        
        background-image: url("../img/Ellipse-mob.png");
        background-position: 50% 0;        
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header__burger {
    display: none;
    margin-top: 7px;
    padding: 0;
    
    width: 45px;
    height: 39px;   
    
    border: 0;
    background: url("../img/btn-open.png") no-repeat;

    @media #{$break-tablet} {
        display: inline-block;        
    }

    @media #{$break-tel} {
        background-size: 53%;
        height: 20px;
    }
}

.header__nav {    
    width: 40%;
    margin: 12px 0 0 0;
    
    .nav__item {   
        margin-right: 32px;
        max-width: 30%;
        
        &:hover {
            color: $colorMenuActive;
            border-bottom: 1px solid $colorMenuActive;
        }
    }

    @media #{$break-tablet} {
        display: none;
    }
}

.header__adress {   
    width: 39%;
    display: flex;
    justify-content: space-between;
    
    
    @media #{$break-tablet} {
        width: 48.5%;        
    }

    @media #{$break-tel} {
        width: 79%;        
    }
    
    .adress__tel {
        margin-bottom: 6px;
        width: 230px;
        align-self: center;

        @media #{$break-tel} {
            width: 190px;
            margin: 1px 0 0 2px;
            
            font-size: 18px;
            letter-spacing: 0.7px;        
        }
    } 
}

.header__btn {
    width: 208px; 
    
    @media #{$break-tel} {
        width: 27px;
        height: 27px;

        padding: 0;    
        border: none;

        font-size: 0;

        background: url("../img/call-answer1.png") center no-repeat;
    }
}
