.header-base { 
    margin: 211px 0 0 0;
    
    @media #{$break-tablet} {
        margin: 236px 0 0 0;
    }

    @media #{$break-tel} {
        margin: 418px 0 0 4px;
        background-color: #fff;
    } 
    
    .container {
        position: relative;
    }
}

.header-base__btn {
    margin: 43px 0 0 0;    
    
    @media #{$break-tablet} {
        margin: 45px 0 0 0;
    }

    @media #{$break-tel} {
        margin: 23px auto 0;        
    }
}

