.no-js {
    .header__burger {
        display: none;
    }

    .header__nav {
        display: block;

        @media #{$break-tel} {
            display: block;
            margin: 0;
            width: 30%;
            
            font-size: 12px;
        }
    }
    
    @media #{$break-tel}{
        .header-base {
            margin-top: 373px;
        }

        .nav__list {
            display: block;                       
        }
        
        .header .nav__item {
            max-width: 100%;
            margin: 0 0 10px 0;
        }
        
        .header__adress {
            width: 74%;
        }
        
        .adress__tel {
        align-self: start;
        }
}

    .header-base__btn {
        @media #{$break-tablet} {
             margin: 46px 0 0;
        }
        
        @media #{$break-tel} {
            margin: 23px 0 0;
        }
    }

    .swiper-container {
        @media #{$break-tablet} {
            overflow-x: scroll;
        } 
    }

    .swiper-slide {
        width: 31.6%;
        margin-right: 30px;

        &:last-child {
            margin: 0;
        }

        

        @media #{$break-tablet} {
            width: 48%;
            margin-right: 37px;
        } 
        
        @media #{$break-tel} {
            width: 100%;

            &:nth-child(2) {
                order: -1;
            }
        }
    }
}