/* Предложение услуги */

.offer {    
    padding: 76px 0 81px; 
    overflow: hidden;    
    
    background: linear-gradient(77deg,#ff8f5a,#ff2f96);
    color: $colorFont;

    @media #{$break-tel} {
        padding: 43px 0 41px;        
    }
}

.offer__container {
    padding: 0 195px;
    position: relative;    

    @media #{$break-tablet} {
        padding: 0 40px;
    }

    @media #{$break-tel} {
        padding: 0 20px;
    }
}

.offer__title {
    margin: 0; 
    
    font-size: 45px;
    font-weight: 700;
    line-height: 133%;
    
    @media #{$break-tel} {
        font-size:28px;
        line-height: 142%;
    }
}

.offer__note {
    position: relative;
    margin: 31px 0 0;
    padding: 0 100px 0 14px;
    line-height: 175%;
    
    @media #{$break-tel} {
        margin: 37px 0 0;
        padding: 0 14px;
        line-height: 188%;
        letter-spacing: -0.1px;
    }

    &::before {
        content: "*";

        position: absolute;
        top: 0;
        left: 0;
    }  
}

.offer__small {
    font-size: 18px;

    @media #{$break-tel} {
        font-size: 15px;               
    }
}

